:root {
    --dark-green: #104911;
    --ligth-green: #548C2F;
    --gold-crayola: #E5CA8B;
    --blue-buttons: #2058C6;
}

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #d2d6d6;
    height: 100vh;
}

.telainicio {
    /*"container"*/
    display: flex;
    justify-content: center;
    margin: 0 10vw;
    padding: 5vh;
}

/* card com imagem do capacete */

.cardlogin {
    position: relative;
    height: 700px;
    border-radius: 15px 0 0 15px;
}

.cardlogin img {
    height: 100%;
    border-radius: 15px 0 0 15px;
}

.cardLoginInfo {
    max-width: 350px;
    font-size: 30px;
    color: aliceblue;
    bottom: 150px;
    left: 40;
    position: absolute;
    text-align: center;
}

/* area branca com os formulários */

.login {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 480px;
    text-align: center;
    border-radius: 0 15px 15px 0;
    align-items: center;
}

.signin img {
    height: 80px;
    margin-top: 20px;
}

legend {
    color: var( --ligth-green);
    margin-top: 20px;
}

span {
    color: #848584;
    padding: 5px;
}

.labels {
    width: 400px;
   margin: 10px 0;
}

label {
    border: 1px solid #7c976b;
    border-radius: 10px;
   
}

.fields {
    display: flex;
    flex-direction: column;
    margin: 0 25px;
    align-items: center;
    width: 450px;
}

input {
    width: 90%;
    
    padding: 20px;
    
    border-radius: 10px;
    outline:none;
    font-size: 18px;
    color: rgb(49, 49, 49);
    background-color: rgb(255, 255, 255);
}

input :focus {
    border: 1px solid rgb(137, 161, 137);
}

input:hover {
   
    background-color: rgb(219, 219, 219);
}

label:hover {
   
    background-color: rgb(219, 219, 219);
}

::placeholder {
    font-size: 18px;
    color: rgb(99, 98, 98);
}

.enter {
    padding: 10px;
    color: aliceblue;
    background-color: var(--dark-green);
    margin-top: 15px;
    width: 90px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 700;
    border: 1px solid aliceblue;
    cursor: pointer;
}

.enter:hover {
    border-color: var(--dark-green);
    background-color: aliceblue;
    transition: 180ms;
    color: var(--dark-green);
}

